<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-date-picker-case-3.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "date": null,
      "menu": false,
      "dateFormatted": null,
      "computedDateFormatted": null,
      "menu1": false,
      "menu2": false
    }
  </script>
</mip-data>
<div class="container grid-list-md">
  <div class="layout row wrap">
    <div class="flex xs12 lg6">
      <mip-v-menu
        m-bind:value.sync="menu1"
        close-on-content-click="false"
        nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        width="290"
      >
        <mip-v-text-field
          slot="activator"
          m-bind:value.sync="dateFormatted"
          label="Date"
          hint="MM/DD/YYYY format"
          persistent-hint
          prepend-icon="event"
          on="blur:MIP.setData({ blur: true })"
        ></mip-v-text-field>
        <mip-v-date-picker
          m-bind:value.sync="date"
          no-title
          on="input:MIP.setData({ menu1: false })"
        ></mip-v-date-picker>
      </mip-v-menu>
      <p>Date in ISO format: <strong m-text="date"></strong></p>
    </div>
    <div class="flex xs12 lg6">
      <mip-v-menu
        m-bind:value.sync="menu2"
        close-on-content-click="false"
        nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        width="290"
      >
        <mip-v-text-field
          slot="activator"
          m-bind:value.sync="computedDateFormatted"
          label="Date (readonly text field)"
          hint="MM/DD/YYYY format"
          persistent-hint
          prepend-icon="event"
          readonly
        ></mip-v-text-field>
        <mip-v-date-picker
          m-bind:value.sync="date"
          no-title
          on="input:MIP.setData({ menu2: false })"
        ></mip-v-date-picker>
      </mip-v-menu>
      <p>Date in ISO format: <strong m-text="date"></strong></p>
    </div>
  </div>
</div>
<mip-script>
  const parseDate = date => {
    if (!date) {
      return null
    }
    const [month, day, year] = date.split('/')
    return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
  }
  const formatDate = date => {
    if (!date) {
      return null
    }
    const [year, month, day] = date.split('-')
    return `${month}/${day}/${year}`
  }
  MIP.watch('blur', blur => {
    if (blur) {
      return
    }
    MIP.setData({
      date: parseDate(MIP.getData('dateFormatted')),
      blur: false
    })
  })
  MIP.watch('date', date => {
    const dateFormatted = formatDate(date)
    MIP.setData({
      dateFormatted,
      computedDateFormatted: dateFormatted
    })
  })
</mip-script>
<script src="https://c.mipcdn.com/static/v2/mip-script/mip-script.js"></script>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
