<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-badge-case-4.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "show": true
    }
  </script>
</mip-data>
<div class="container fluid text-xs-center">
  <div class="layout justify-space-between row wrap">
    <div class="flex xs12">
      <mip-v-btn color="indigo" class="white--text" on="tap:MIP.setData({ show: !m.show })">
        Toggle
      </mip-v-btn>
    </div>

    <div class="flex xs12 mt-5">
      <mip-v-badge m-bind:value="show" color="cyan" left>
        <span slot="badge">6</span>
        <mip-v-icon large color="grey lighten-1">
          shopping_cart
        </mip-v-icon>
      </mip-v-badge>

      <mip-v-badge m-bind:value="show" color="purple">
        <span slot="badge">6</span>
        <mip-v-icon large color="grey">
          mail
        </mip-v-icon>
      </mip-v-badge>
    </div>
  </div>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>