<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-btn-case-5.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "toggleExclusive": 2,
      "toggleMultiple": [
        0,
        1,
        2
      ],
      "toggleNone": null,
      "toggleOne": 0,
      "text": "center",
      "icon": "justify"
    }
  </script>
</mip-data>
<mip-v-card flat class="py-5">
  <mip-v-card-text>
    <div class="container fluid pa-0">
      <div class="layout row wrap">
        <div class="flex xs12 sm6 py-2">
          <p>Exclusive</p>
          <mip-v-btn-toggle m-bind:input-value.sync="toggleExclusive">
            <mip-v-btn flat>
              <mip-v-icon>format_align_left</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_center</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_right</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_justify</mip-v-icon>
            </mip-v-btn>
          </mip-v-btn-toggle>
        </div>
        <div class="flex xs12 sm6 py-2">
          <p>Multiple</p>
          <mip-v-btn-toggle m-bind:input-value.sync="toggleMultiple" multiple>
            <mip-v-btn flat>
              <mip-v-icon>format_bold</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_italic</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_underlined</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_color_fill</mip-v-icon>
            </mip-v-btn>
          </mip-v-btn-toggle>
        </div>
        <div class="flex xs12 sm6 py-2">
          <p>No Options Selected</p>
          <mip-v-btn-toggle m-bind:input-value.sync="toggleNone">
            <mip-v-btn flat>
              <mip-v-icon>format_align_left</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_center</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_right</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_justify</mip-v-icon>
            </mip-v-btn>
          </mip-v-btn-toggle>
        </div>
        <div class="flex xs12 sm6 py-2">
          <p>Mandatory</p>
          <mip-v-btn-toggle m-bind:input-value.sync="toggleOne" mandatory>
            <mip-v-btn flat>
              <mip-v-icon>format_align_left</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_center</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_right</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat>
              <mip-v-icon>format_align_justify</mip-v-icon>
            </mip-v-btn>
          </mip-v-btn-toggle>
        </div>
        <div class="flex xs12 sm6 py-2">
          <p>Text Options</p>
          <mip-v-btn-toggle m-bind:input-value.sync="text">
            <mip-v-btn flat value="left">
              Left
            </mip-v-btn>
            <mip-v-btn flat value="center">
              Center
            </mip-v-btn>
            <mip-v-btn flat value="right">
              Right
            </mip-v-btn>
            <mip-v-btn flat value="justify">
              Justify
            </mip-v-btn>
          </mip-v-btn-toggle>
        </div>
        <div class="flex xs12 sm6 py-2">
          <p>Text &amp; Icon Options</p>
          <mip-v-btn-toggle m-bind:input-value.sync="icon">
            <mip-v-btn flat value="left">
              <span>Left</span>
              <mip-v-icon>format_align_left</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat value="center">
              <span>Center</span>
              <mip-v-icon>format_align_center</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat value="right">
              <span>Right</span>
              <mip-v-icon>format_align_right</mip-v-icon>
            </mip-v-btn>
            <mip-v-btn flat value="justify">
              <span>Justify</span>
              <mip-v-icon>format_align_justify</mip-v-icon>
            </mip-v-btn>
          </mip-v-btn-toggle>
        </div>
      </div>
    </div>
  </mip-v-card-text>
</mip-v-card>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
