<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-dialog-case-2.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "dialog3": false,
      "notifications": false,
      "sound": true,
      "widgets": false
    }
  </script>
</mip-data>
<mip-v-dialog m-bind:value.sync="dialog3" fullscreen hide-overlay transition="dialog-bottom-transition">
  <mip-v-btn slot="activator" color="primary" dark>Open Dialog</mip-v-btn>
  <div class="v-card">
    <mip-v-toolbar dark color="primary">
      <mip-v-btn icon dark on="tap:MIP.setData({ dialog3: false })">
        <mip-v-icon>close</mip-v-icon>
      </mip-v-btn>
      <mip-v-toolbar-title>Settings</mip-v-toolbar-title>
      <mip-v-spacer></mip-v-spacer>
      <mip-v-toolbar-items>
        <mip-v-btn dark flat on="tap:MIP.setData({ dialog3: false })">Save</mip-v-btn>
      </mip-v-toolbar-items>
    </mip-v-toolbar>
    <mip-v-list three-line subheader>
      <mip-v-subheader>User Controls</mip-v-subheader>
      <mip-v-list-tile avatar>
        <mip-v-list-tile-content>
          <mip-v-list-tile-title>Content filtering</mip-v-list-tile-title>
          <mip-v-list-tile-sub-title>Set the content filtering level to restrict apps that can be downloaded</mip-v-list-tile-sub-title>
        </mip-v-list-tile-content>
      </mip-v-list-tile>
      <mip-v-list-tile avatar>
        <mip-v-list-tile-content>
          <mip-v-list-tile-title>Password</mip-v-list-tile-title>
          <mip-v-list-tile-sub-title>Require password for purchase or use password to restrict purchase</mip-v-list-tile-sub-title>
        </mip-v-list-tile-content>
      </mip-v-list-tile>
    </mip-v-list>
    <mip-v-divider></mip-v-divider>
    <mip-v-list three-line subheader>
      <mip-v-subheader>General</mip-v-subheader>
      <mip-v-list-tile avatar>
        <mip-v-list-tile-action>
          <mip-v-checkbox m-bind:input-value.sync="notifications"></mip-v-checkbox>
        </mip-v-list-tile-action>
        <mip-v-list-tile-content>
          <mip-v-list-tile-title>Notifications</mip-v-list-tile-title>
          <mip-v-list-tile-sub-title>Notify me about updates to apps or games that I downloaded</mip-v-list-tile-sub-title>
        </mip-v-list-tile-content>
      </mip-v-list-tile>
      <mip-v-list-tile avatar>
        <mip-v-list-tile-action>
          <mip-v-checkbox m-bind:input-value.sync="sound"></mip-v-checkbox>
        </mip-v-list-tile-action>
        <mip-v-list-tile-content>
          <mip-v-list-tile-title>Sound</mip-v-list-tile-title>
          <mip-v-list-tile-sub-title>Auto-update apps at any time. Data charges may apply</mip-v-list-tile-sub-title>
        </mip-v-list-tile-content>
      </mip-v-list-tile>
      <mip-v-list-tile avatar>
        <mip-v-list-tile-action>
          <mip-v-checkbox m-bind:input-value.sync="widgets"></mip-v-checkbox>
        </mip-v-list-tile-action>
        <mip-v-list-tile-content>
          <mip-v-list-tile-title>Auto-add widgets</mip-v-list-tile-title>
          <mip-v-list-tile-sub-title>Automatically add home screen widgets</mip-v-list-tile-sub-title>
        </mip-v-list-tile-content>
      </mip-v-list-tile>
    </mip-v-list>
  </div>
</mip-v-dialog>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>