<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-slider-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "slider": 45
    }
  </script>
</mip-data>
<div class="container fluid grid-list-lg">
  <div class="layout row wrap">
    <div class="flex xs12">
      <mip-v-subheader class="pl-0">Show thumb when using slider</mip-v-subheader>
      <mip-v-slider m-bind:value.sync="slider" thumb-label></mip-v-slider>
    </div>

    <div class="flex xs12">
      <mip-v-subheader class="pl-0">Always show thumb label</mip-v-subheader>
      <mip-v-slider m-bind:value.sync="slider">
        <script type="application/json">
          {
            "thumbLabel": "always"
          }
        </script>
      </mip-v-slider>
    </div>

    <div class="flex xs12">
      <mip-v-subheader class="pl-0">Custom thumb color</mip-v-subheader>
      <mip-v-slider m-bind:value.sync="slider" thumb-color="red">
        <script type="application/json">
          {
            "thumbLabel": "always"
          }
        </script>
      </mip-v-slider>
    </div>

    <div class="flex xs12">
      <mip-v-subheader class="pl-0">Custom thumb size</mip-v-subheader>
      <mip-v-slider m-bind:value.sync="slider" thumb-size="24">
        <script type="application/json">
          {
            "thumbLabel": "always"
          }
        </script>
      </mip-v-slider>
    </div>

    <div class="flex xs12">
      <mip-v-subheader class="pl-0">Always dirty</mip-v-subheader>
      <mip-v-slider m-bind:value.sync="slider" always-dirty hint="Try set it to &apos;0&apos;" persistent-hint>
        <script type="application/json">
          {
            "thumbLabel": "always"
          }
        </script>
      </mip-v-slider>
    </div>
  </div>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>