<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-btn-case-7.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <div class="text-xs-center">
  <mip-v-btn fab dark small color="primary">
    <mip-v-icon dark>remove</mip-v-icon>
  </mip-v-btn>

  <mip-v-btn fab dark small color="pink">
    <mip-v-icon dark>favorite</mip-v-icon>
  </mip-v-btn>

  <mip-v-btn fab dark color="indigo">
    <mip-v-icon dark>add</mip-v-icon>
  </mip-v-btn>

  <mip-v-btn fab dark color="teal">
    <mip-v-icon dark>list</mip-v-icon>
  </mip-v-btn>

  <mip-v-btn fab dark large color="cyan">
    <mip-v-icon dark>edit</mip-v-icon>
  </mip-v-btn>

  <mip-v-btn fab dark large color="purple">
    <mip-v-icon dark>android</mip-v-icon>
  </mip-v-btn>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>