<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-dialog-case-4.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "dialog": false,
      "country": ""
    }
  </script>
</mip-data>
<div class="layout row justify-center">
  <mip-v-dialog
    m-bind:value.sync="dialog"
    scrollable
    max-width="300px"
  >
    <mip-v-btn
      slot="activator"
      color="primary"
      dark
    >
      Open Dialog
    </mip-v-btn>
    <div class="v-card">
      <div class="v-card__title">Select Country</div>
      <mip-v-divider></mip-v-divider>
      <div
        class="v-card__text"
        style="height: 300px;"
      >
        <mip-v-radio-group
          m-bind:value.sync="country"
          column
        >
          <mip-v-radio
            label="Bahamas"
            value="bahamas"
          ></mip-v-radio>
          <mip-v-radio
            label="Bahrain"
            value="bahrain"
          ></mip-v-radio>
          <mip-v-radio
            label="Bangladesh"
            value="bangladesh"
          ></mip-v-radio>
          <mip-v-radio
            label="Barbados"
            value="barbados"
          ></mip-v-radio>
          <mip-v-radio
            label="Belarus"
            value="belarus"
          ></mip-v-radio>
          <mip-v-radio
            label="Belgium"
            value="belgium"
          ></mip-v-radio>
          <mip-v-radio
            label="Belize"
            value="belize"
          ></mip-v-radio>
          <mip-v-radio
            label="Benin"
            value="benin"
          ></mip-v-radio>
          <mip-v-radio
            label="Bhutan"
            value="bhutan"
          ></mip-v-radio>
          <mip-v-radio
            label="Bolivia"
            value="bolivia"
          ></mip-v-radio>
          <mip-v-radio
            label="Bosnia and Herzegovina"
            value="bosnia"
          ></mip-v-radio>
          <mip-v-radio
            label="Botswana"
            value="botswana"
          ></mip-v-radio>
          <mip-v-radio
            label="Brazil"
            value="brazil"
          ></mip-v-radio>
          <mip-v-radio
            label="Brunei"
            value="brunei"
          ></mip-v-radio>
          <mip-v-radio
            label="Bulgaria"
            value="bulgaria"
          ></mip-v-radio>
          <mip-v-radio
            label="Burkina Faso"
            value="burkina"
          ></mip-v-radio>
          <mip-v-radio
            label="Burma"
            value="burma"
          ></mip-v-radio>
          <mip-v-radio
            label="Burundi"
            value="burundi"
          ></mip-v-radio>
        </mip-v-radio-group>
      </div>
      <mip-v-divider></mip-v-divider>
      <div class="v-card__actions">
        <mip-v-btn
          color="blue darken-1"
          flat
          on="tap:MIP.setData({ dialog: false })"
        >
          Close
        </mip-v-btn>
        <mip-v-btn
          color="blue darken-1"
          flat
          on="tap:MIP.setData({ dialog: false })"
        >
          Save
        </mip-v-btn>
      </div>
    </div>
  </mip-v-dialog>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
