<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-autocomplete-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "model": "",
      "search": "",
      "items": [],
      "isLoading": false
    }
  </script>
</mip-data>
<div class="container grid-list-xl">
  <mip-v-autocomplete m-bind:value.sync="model" m-bind:items="items" m-bind:loading="isLoading" m-bind:search-input.sync="search" hide-no-data hide-selected item-text="Description" item-value="API" label="Public APIs" placeholder="Start typing to Search" prepend-icon="mdi-database-search" return-object></mip-v-autocomplete>
</div>
<mip-script>
  MIP.watch('entries', val => {
    let descriptionLimit = MIP.getData('descriptionLimit')
    let items = val.map(entry => {
      const Description = entry.Description.length > descriptionLimit
        ? entry.Description.slice(0, descriptionLimit) + '...'
        : entry.Description

      return Object.assign({}, entry, { Description })
    })

    MIP.setData({ items })
  })

  MIP.watch('search', val => {
    // Items have already been loaded
    if (MIP.getData('items').length > 0) return

    MIP.setData({ isLoading: true })

    // Lazily load input items
    fetch('https://api.publicapis.org/entries')
      .then(res => {
        if (res.ok) {
          res.json().then(data => {
            const { count, entries } = data
            MIP.setData({ entries })
          })
        }
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => MIP.setData({ isLoading: false }))
  })
</mip-script>
<script src="https://c.mipcdn.com/static/v2/mip-script/mip-script.js"></script>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
