<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-dialog-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "dialog2": false
    }
  </script>
</mip-data>
<mip-v-dialog m-bind:value.sync="dialog2" persistent max-width="290">
  <mip-v-btn slot="activator" color="primary" dark>
    Open Dialog
  </mip-v-btn>
  <mip-v-card>
    <mip-v-card-title class="headline">Use Google&apos;s location service?</mip-v-card-title>
    <mip-v-card-text>
      Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
    </mip-v-card-text>
    <mip-v-card-actions>
      <div class="spacer"></div>
      <mip-v-btn color="green darken-1" flat on="tap:MIP.setData({ dialog2: false })">Disagree</mip-v-btn>
      <mip-v-btn color="green darken-1" flat on="tap:MIP.setData({ dialog2: false })">Agree</mip-v-btn>
    </mip-v-card-actions>
  </mip-v-card>
</mip-v-dialog>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>