<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-text-field-case-6.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "title": "Preliminary report",
      "description": "California is a state in the western United States"
    }
  </script>
</mip-data>
<div class="container grid-list-xl">
  <div class="layout row wrap">
    <mip-v-text-field class="flex xs12 md6" m-bind:value.sync="title" counter="25" hint="This field uses counter prop" label="Regular"></mip-v-text-field>
    <mip-v-text-field class="flex xs12 md6" m-bind:value.sync="description" counter maxlength="25" hint="This field uses maxlength attribute" label="Limit exceeded"></mip-v-text-field>
    <mip-v-text-field class="flex xs12 md6" m-bind:value.sync="title" counter="25" box label="Box"></mip-v-text-field>
    <mip-v-text-field class="flex xs12 md6" m-bind:value.sync="title" counter="25" label="Outline" outline></mip-v-text-field>
  </div>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>