.step-tabs-wrapper {
  margin-top: 64px;
  .step-head {
    width: 100%;
    background: #f8f8f8;
    padding: 60px 100px 40px;
    box-sizing: border-box;
    .step-head-inner {
      // max-width: 1040px;
      margin: 0 auto;
      .title {
        font-size: 22px;
        color: #000;
        margin-bottom: 10px;
      }
      .des {
        font-size: 16px;
        color: #666;
        line-height: 20px;
      }
    }

  }
  .step-content-main {
    padding: 0px 100px;
    margin: 0 auto;

    // 重写了组件的样式
    .step-menu-wrapper {
      li {
        padding: 0;
        a {
          display: inline-block;
          padding: 30px 20px 10px;
          width: 100%;
        }
      }
    }


    .step-content-wrapper {
      margin: 0 20px 40px 360px;
      max-width: 1000px;
      padding-top 40px;
      .step-content-list {
        position: relative;
        .content-item {
          display: none;
          line-height: 30px;

          &.show {
            display: block;
          }
        }
        .edit {
          position: absolute;
          width: 100px;
          height: 40px;
          line-height: 40px;
          border: 1px solid #000;
          text-align: center;
          border-radius: 20px;

          &.edit-top {
            top: 0;
            right: 0;
          }
          &.edit-bottom {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .step-tabs-wrapper {
    .step-content-main {
      .step-content-wrapper {
        margin-left: 275px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .step-tabs-wrapper {
    .step-head {
      padding: 40px 25px 30px;
    }
    .step-content-main {
      padding: 20px 0;
      .step-content-menu {
        display: none;
      }

      .step-content-wrapper {
        margin: 0 25px 40px;
      }
    }
  }
}
