.layout-navbar-fixed
  overflow visible !important
  z-index 20000 !important


.layout-navbar
  background #fff
  box-shadow 0 2px 4px rgba(0, 0, 0, .04)
  height 64px
  padding 0 100px

  @media screen and (max-width: 992px)
    padding 0 25px

  .navbar-logo
    position absolute
    width 73px
    height 38px
    background-image url(//gss0.baidu.com/9rkZbzqaKgQUohGko9WTAnF6hhy/assets/mip/site/mip-logo.png)
    background-size cover
    background-position center
    margin-top 15px

  .navbar-menu
    float right
    height 64px
    list-style none

    @media screen and (max-width: 768px)
      display none

  .navbar-item
    display inline-block
    position relative
    margin 0 25px
    font-size 16px
    line-height 64px

    @media screen and (max-width: 992px)
      margin 0 12px

    &:first-child
      margin-left 0
    &:last-child
      margin-right 0

    .menu-name
      color #5a5b5c
      .arrow
        width 0
        height 0
        display inline-block
        // verticals-align middle
        border-width .3em
        border-top-color #000
        border-bottom-color transparent
        border-right-color transparent
        border-left-color transparent
        border-style solid
        margin-left .5em
        transform translateY(25%)

    @media screen and (min-width: 768px)
      &:hover
        .menu-name
          color #24292e
          .arrow
            transform translateY(-25%) rotate(180deg)
        .navbar-sub-menu
          display block
          .navbar-sub-item
            &:hover
              background #f2f3f5


    .navbar-sub-menu
      position absolute
      background #fff
      list-style none
      top 60px
      left -30px
      box-shadow 0 5px 20px rgba(0, 0, 0, .1)
      display none

    .navbar-sub-item
      line-height 50px
      a
        padding 0 20px
        white-space nowrap

  .navbar-toggle
    display none

    @media screen and (max-width: 768px)
      display block
      // background #000
      position absolute
      right 25px
      top 0
      bottom 0
      width 100px
      text-align right

      .icon-bars
        font-size 38px
        line-height 64px
        font-weight 400
        color #6a6b6c
      // height 100px





