.layout-sidebar
  background #fff
  bottom 0
  overflow auto !important
  z-index 20000 !important

  .sidenav-wrapper
    margin-top 35px !important

  @media screen and (max-width: 992px)
    .sidenav-wrapper
      margin-left 25px !important
      width 250px !important

  @media screen and (max-width: 768px)
    display none
