.layout-navbar-fixed
  overflow visible !important
  z-index 20100 !important


.layout-navbar
  background #fff
  box-shadow 0 2px 4px rgba(0, 0, 0, .04)
  height 60px
  padding 0 100px

  @media screen and (max-width: 992px)
    padding 0 25px

  .navbar-logo
    position absolute
    width 73px
    height 38px
    background-image url(//gss0.baidu.com/9rkZbzqaKgQUohGko9WTAnF6hhy/assets/mip/site/mip-logo.png)
    background-size cover
    background-position center
    margin-top 15px

  .navbar-menu
    float right
    height 60px
    list-style none
    position relative
    font-size 0

    @media screen and (max-width: 768px)
      display none

  .navbar-indicator
    background #000
    height 3px
    position absolute
    bottom 0
    left 0
    width 50px
    transition transform .2s
    display none

  .navbar-item
    display inline-block
    position relative
    padding 0 25px
    font-size 16px
    line-height 60px
    a
      line-height 60px
      display inline-block

    &:first-child
      margin-left 0
    &:last-child
      margin-right 0

    @media screen and (max-width: 992px)
      margin 0 15px

    .menu-name
      color #555
      font-size 16px
      .arrow
        width 0
        height 0
        display inline-block
        // verticals-align middle
        border-width .22em
        border-top-color #000
        border-bottom-color transparent
        border-right-color transparent
        border-left-color transparent
        border-style solid
        margin-left .5em
        transform translateY(25%)

    @media screen and (min-width: 768px)
      &:hover
        background #f2f3f5
        .menu-name
          color #000
          .arrow
            transform translateY(-25%) rotate(180deg)
        .navbar-sub-menu
          display block
          .navbar-sub-item
            &:hover
              background #f2f3f5


    .navbar-sub-menu
      position absolute
      background #fff
      list-style none
      top 58px
      left 50%
      transform translateX(-50%)
      box-shadow 0 5px 20px rgba(0, 0, 0, .1)
      display none

    .navbar-sub-item
      line-height 50px
      a
        padding 0 20px
        white-space nowrap

  .navbar-toggle
    display none

    @media screen and (max-width: 768px)
      display block
      // background #000
      position absolute
      right 25px
      top 0
      bottom 0
      width 100px
      text-align right

      .icon-bars
        font-size 38px
        line-height 64px
        font-weight 400
        color #6a6b6c
      // height 100px


.nav-sidebar
  z-index 40100 !important
  width 70%
  box-sizing border-box
  padding 25px
  background #fff
  h1
    font-size 24px
    margin-bottom 40px
    user-select none

  .sidebar-nav-wrapper
    ul
      list-style none
      font-size 16px
      line-height 2
    a,
    span
      display block
      margin-bottom 20px

    span
      color #000

    .menu-name
      color #000
      font-weight 600
    .navbar-sub-item
      a
        color #555
        font-weight 500

  .sidenav-wrapper
    margin-left -10px
    .wd-infinity-menu
      .l-0
        &:first-child
          padding-top 0
          .folder
            padding-top 0

.MIP-SIDEBAR-MASK
  z-index 40000 !important


