.markdown-breadcrumb
  font-size 14px
  color rgba(0, 0, 0, .87)
  margin-top 54px
  margin-bottom 36px
  span
    margin auto 10px
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
      color rgba(0, 0, 0, .38)
    &.split
      margin 0
      color rgba(0, 0, 0, .38)
