@import './github-markdown.css'
@import './highlight.css'

.markdown-body pre
  padding-left: 3em
  position: relative


.markdown-body .code-index
  position absolute
  left 0
  width 2em
  text-align right
  color rgba(27, 31, 35, .3)


.markdown-body
  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before
    content: ' '
    display block
    height 84px
    margin-top -84px
    visibility hidden
.markdown-body
  .md-img-wrapper
    display flex
// @import './github-markdown-original.css'

// .markdown-body
//   h1
//     font-size 24px
//     line-height 26px
//     margin-bottom 32px
//   h2
//     font-size 20px
//     line-height 22px
//     margin-top 20px
//     margin-bottom 20px
//   h3
//     font-size 18px
//     line-height 20px
//     margin-top 20px
//     margin-bottom 20px

//   h1, h2, h3, h4, h5, h6
//     & + *
//       margin-top 0
//   p
//     font-size 16px
//     line-height 24px
//     margin-bottom 16px
