.layout-sidebar
    padding-left 100px
    color #6a6b6c
    .wd-infinity-menu
        div[class^="l-"]
            margin 20px 0
            a
                color #6a6b6c
                font-size 14px
        .l-0>.folder
            color #24292e
            font-size 18px
            font-weight bold
            margin 25px 0
    .children-1
        .wd-infinity-menu
            padding-left 20px

    .sidebar-right-wrapper
        div[class^="children-"]
            padding-left 20px
            .chapter-title
                margin 16px 0
                display block
                &::before
                    content '·'
                    display inline-block
                    padding-right 5px
        .children-0
            border-left 2px solid #f1f1f1
            &>.wd-infinity-chapters>.chapter-title
                color #24292e
                &::before
                    display none
