
            <!DOCTYPE html>
            <html mip>
            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
              <title>测试</title>
              <meta name="description" content="">
              <link rel="canonical" href="">
              <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
            </head>
            <body>
              <mip-carousel
    autoplay
    defer="1000"
    layout="responsive"
    width="600"
    height="400">
    <mip-img
        src="https://www.mipengine.org/static/img/sample_01.jpg">
    </mip-img>
    <a target="_blank" href="http://wenda.tianya.cn/m/question/1almfj0foas94gc7vtoq6ejbfbmdk3e78ehaa">
        <mip-img
            src="https://www.mipengine.org/static/img/sample_02.jpg" width="600" height="400">
        </mip-img>
    </a>
    <mip-img
        src="https://www.mipengine.org/static/img/sample_03.jpg">
    </mip-img>
</mip-carousel>

              <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
              
            </body>
          