<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-inservice-login-case-4.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "info": {
        userInfo: {
          "nickname": "",
          "province": ""
        }
      },
      "config": {
        appid: '熊掌号id',
        clientId: '熊掌号开发者id',
        id: 'info',
        autologin: true,
        endpoint: 'https://www.example.com/api/userinfo.php',
        isGlobal: false
      }
    }
  </script>
</mip-data>

<mip-inservice-login id="log" m-bind:config="config"></mip-inservice-login>

<ul>
  <li>
    hi，<span m-text="info.userInfo.nickname"></span>，你上次登录地点为 <span m-text="info.userInfo.province"></span>。
  </li>
  <li>
    <a href="/order/list.html" data-type="mip">订单中心</a>
  </li>
  <li>
    <div on="tap:log.logout">退出</div>
  </li>
</ul>


  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-inservice-login/mip-inservice-login.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>