
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-install-serviceworker-case-0.html">
                  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
                  
                </head>
                <body>
                  
                  <script>
if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/sw.js');
}
</script>

                  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-install-serviceworker/mip-install-serviceworker.js"></script>
                </body>
              