
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  <!--宽高比3：1-->
<mip-history history="go, -1" class="mip-history-default"
	layout="responsive" width="3" height="1">
	go, -1
</mip-history>
<!--定高30px-->
<mip-history history="go, -1" class="mip-history-default"
	layout="fixed-height" width="30">
	go, -1
</mip-history>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-history/mip-history.js"></script>
                </body>
              