<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-inservice-pay-case-0.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "payConfig":{
        "subject":"支付商品",
        "fee": 300,
        "sessionId":"c8fbd3e0-a617-4eac-84b3-1f289c5ce857",
        "redirectUrl":"https://api.example.com/pay/verifypay",
        "endpoint":{
          "baifubao":  "https://api.example.com/pay/baifubao",
          "alipay":  "https://api.example.com/pay/alipay",
          "weixin":  "https://api.example.com/pay/weixin"
        },
        "postData":{
          "orderId": 235,
          "token": "xxxx",
          "anydata":"anydata"
        }
      }
    }
  </script>
</mip-data>
<mip-inservice-pay m-bind:pay-config="payConfig" id="payDialog"></mip-inservice-pay>
<button on="tap:payDialog.toggle">确定支付</button>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-inservice-pay/mip-inservice-pay.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>