
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  <style>
    .demo3 [data-item] > div {
        height: 100px;
        background-color: #ccc;
    }
</style>
<mip-scrollbox data-type="row" class="demo3" layout="fixed-height">
    <div data-wrapper>
        <div data-inner>
            <div data-scroller>
                <div data-item>
                    <div>1的内容，span3</div>
                </div>
                <div data-item>
                    <div>2的内容，span3</div>
                </div>
                <div data-item>
                    <div>3的内容，span3</div>
                </div>
                <div data-item>
                    <div>4的内容，span3</div>
                </div>
                <div data-item>
                    <div>5的内容，span3</div>
                </div>
                <div data-item>
                    <div>6的内容，span3</div>
                </div>
                <div data-item>
                    <div>7的内容，span3</div>
                </div>
            </div>
        </div>
    </div>
</mip-scrollbox>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-scrollbox/mip-scrollbox.js"></script>
                </body>
              