<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-analytics-case-0.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  
</head>
<body>
  
  <div class="className1" data-click="{foo:1,boo:2}">
    <button data-click="{button:1}"> BUTTON 1</button>
    <button > BUTTON 2</button>
</div>
<div class="className2"></div>


<mip-analytics>
<script type="application/json">
{
    "hosts" : {
        "className1" : "https://m.baidu.com/div1?",
        "disp" : "https://m.baidu.com/${disp}?",
        "className2" : "https://m.baidu.com/_${div2}.gif?"
    },

    "setting" : {

        "click" : [
            {
                "selector" : ".className1",
                "tag": "button",
                "host" : "className1",
                "queryString" : {
                    "name" : "alan",
                    "mipstart" : "${MIPStart}",
                    "list": {
                        "age":"123"
                    }
                }
            },

            {
                "selector" : ".className2",
                "host" : "className2",
                "queryString" : {
                    "name" : "alan",
                    "mipstart" : "${MIPStart}",
                    "list": {
                        "age":"45"
                    }
                }
            },

            {
                "selector" : ".className3",
                "host" : "className3",
                "queryString" : {},
                "vars" : {
                    "div2" : "divfdsf"
                }
            }
        ],

        "disp" : [
            {
                "host" : "disp",
                "queryString" : {
                    "MIPStart" : "${MIPStart}",
                    "MIPPageShow" : "${MIPPageShow}",
                    "MIPDomContentLoaded" : "${MIPDomContentLoaded}",
                    "MIPFirstScreen" : "${MIPFirstScreen}"
                },
                "vars" : {
                    "disp" : "displog"
                }
            }
        ],
        "timerxx" : [
            {
                "host" : "className2",
                "queryString" : {
                    "timer" : "timer"
                },
                "vars" : {
                    "div2" : "div2"
                },
                "option" : {
                    "interval" : 2000
                }
            }
        ],
        "scroll" : []
    }
}
</script>
</mip-analytics>


  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-analytics/mip-analytics.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>