<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-vd-tabs-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
</head>
<body>
  
  <mip-vd-tabs allow-scroll>
    <section>
        <li>第一季</li>
        <li>第二季</li>
        <li>第三季</li>
        <li>第四季</li>
        <li>第五季</li>
        <li>第六季更新至09</li>
    </section>
    <div>内容1</div>
    <div>内容2</div>
    <div>内容3</div>
    <div>内容4</div>
    <div>内容5</div>
    <div>内容6</div>
</mip-vd-tabs>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
