<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-scrollbox-case-0.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
</head>
<body>
  
  <style>
    .demo1 a {
        display: block;
        border: 1px solid #ccc;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin-right: 20px;
        border-radius: 5px;
        white-space: nowrap;
    }
    .demo1 [data-item]:last-child a {
        margin-right: 0;
    }
</style>
<mip-scrollbox class="demo1" height="32" layout="fixed-height">
    <div data-wrapper>
        <div data-inner>
            <div data-scroller>
                <div data-item>
                    <a href="https://www.baidu.com">百度一下，你就知道。</a>
                </div>
                <div data-item>
                    <a href="https://www.mipengine.org">MIP 是移动网页加速器。</a>
                </div>
                <div data-item>
                    <a href="https://github.com/mipengine">MIP 的 GitHub 地址是： https://github.com/mipengine</a>
                </div>
                <div data-item>
                    <a href="https://www.mipengine.org">点击查看更多精彩内容>></a>
                </div>
            </div>
        </div>
    </div>
</mip-scrollbox>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-scrollbox/mip-scrollbox.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
