<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-shell-inservice-case-0.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
</head>
<body>
  
  <mip-shell-inservice mip-shell>
    <script type="application/json">
        {
        "routes": [
            {
                "pattern": "./index.html",
                "meta": {
                    "header": {
                        "show": true
                    },
                    "view":{
                        "isIndex": true
                    }
                }
            },
            {
                "pattern": "./mip-shell-inservice.html",
                "meta": {
                    "header": {
                        "show": true,
                        "title": "微咖啡PAGE2"
                    },
                    "view":{
                    "isIndex": false
                    }
                }
            },
            {
                "pattern": "*",
                "meta": {
                    "header": {
                        "show": true
                    }
                }
            }
        ],
        "isId":"156786663788884"
    }
    </script>
</mip-shell-inservice>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-shell-inservice/mip-shell-inservice.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>