<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-sidebar-case-0.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  
</head>
<body>
  
  <header>
    <div id="logo" on="tap:sidebar.open">Open mip-sidebar</div>
</header>
<mip-sidebar 
    id="sidebar"
    layout="nodisplay"
    class="mip-hidden">
    <ul>
        <li>
            <a href="https://www.mipengine.org/">MIP官网</a>
            <button on="tap:sidebar.close"> X </button>
        </li>
        <li>Nav item 1</li>
        <li>Nav item 2</li>
        <li>Nav item 3</li>
        <li>
            Nav item 4 - Image
            <mip-img
                src="https://www.mipengine.org/favicon.ico"
                width="32"
                height="32"
                alt="mipengine ico"></mip-img>
        </li>
        <li>Nav item 5</li>
        <li>Nav item 6</li>
    </ul>
</mip-sidebar>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-sidebar/mip-sidebar.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>