
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  <mip-map height="300">
    <script type="application/json">
    {
        "ak": "hKhuzfFBrcL6zGm4s6b371NDxaUrhFPl",
        "location": {
            "province": "北京",
            "city": "北京市",
            "district": "海淀区",
            "street": "西北旺东路10号院百度科技园1号楼"
        },
        "controls": {
            "NavigationControl": {
            },
            "MapTypeControl": {
            }
        },
        "info": {
            "width" : 250,
            "height": 100,
            "content": "<h4>百度科技园1号楼</h4><p style='line-height:1.5;font-size:13px;'>百度科技园1号楼坐落于北京北京市海淀区西北旺东路10号院</p></div>"
        }
    }
    </script>
</mip-map>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-map/mip-map.js"></script>
                </body>
              