<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-btn-case-3.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <div class="flex">
  <mip-v-btn depressed small>Normal</mip-v-btn>
  <mip-v-btn depressed small color="primary">Primary</mip-v-btn>
  <mip-v-btn depressed small color="error">Error</mip-v-btn>
  <mip-v-btn depressed small disabled>Disabled</mip-v-btn>
</div>
<div class="flex">
  <mip-v-btn depressed>Normal</mip-v-btn>
  <mip-v-btn depressed color="primary">Primary</mip-v-btn>
  <mip-v-btn depressed color="error">Error</mip-v-btn>
  <mip-v-btn depressed disabled>Disabled</mip-v-btn>
</div>
<div class="flex">
  <mip-v-btn depressed large>Normal</mip-v-btn>
  <mip-v-btn depressed large color="primary">Primary</mip-v-btn>
  <mip-v-btn depressed large color="error">Error</mip-v-btn>
  <mip-v-btn depressed large disabled>Disabled</mip-v-btn>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>