<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-toolbar-case-8.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <mip-v-card color="grey lighten-4" flat height="200px">
  <mip-v-toolbar color="grey darken-1" dark>
    <mip-v-toolbar-side-icon></mip-v-toolbar-side-icon>

    <mip-v-menu :nudge-width="100">
      <mip-v-toolbar-title slot="activator">
        <span>All</span>
        <mip-v-icon dark>arrow_drop_down</mip-v-icon>
      </mip-v-toolbar-title>

      <mip-v-list>
        <mip-v-list-tile>
          <mip-v-list-tile-title m-text="items[0]"></mip-v-list-tile-title>
        </mip-v-list-tile>
        <mip-v-list-tile>
          <mip-v-list-tile-title m-text="items[1]"></mip-v-list-tile-title>
        </mip-v-list-tile>
        <mip-v-list-tile>
          <mip-v-list-tile-title m-text="items[2]"></mip-v-list-tile-title>
        </mip-v-list-tile>
        <mip-v-list-tile>
          <mip-v-list-tile-title m-text="items[3]"></mip-v-list-tile-title>
        </mip-v-list-tile>
      </mip-v-list>
    </mip-v-menu>

    <mip-v-spacer></mip-v-spacer>

    <mip-v-btn icon>
      <mip-v-icon>search</mip-v-icon>
    </mip-v-btn>

    <mip-v-btn icon>
      <mip-v-icon>favorite</mip-v-icon>
    </mip-v-btn>

    <mip-v-btn icon>
      <mip-v-icon>more_vert</mip-v-icon>
    </mip-v-btn>
  </mip-v-toolbar>
</mip-v-card>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>