<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-footer-case-2.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-v-footer dark height="auto">
  <mip-v-card class="flex" flat tile style="width: 100%;">
    <div class="v-card__title teal">
      <strong class="subheading">Get connected with us on social networks!</strong>

      <mip-v-spacer></mip-v-spacer>

      <mip-v-btn class="mx-3 white--text" icon>
        <mip-v-icon size="24px">fab fa-facebook</mip-v-icon>
      </mip-v-btn>
      <mip-v-btn class="mx-3 white--text" icon>
        <mip-v-icon size="24px">fab fa-twitter</mip-v-icon>
      </mip-v-btn>
      <mip-v-btn class="mx-3 white--text" icon>
        <mip-v-icon size="24px">fab fa-google-plus</mip-v-icon>
      </mip-v-btn>
      <mip-v-btn class="mx-3 white--text" icon>
        <mip-v-icon size="24px">fab fa-linkedin</mip-v-icon>
      </mip-v-btn>
      <mip-v-btn class="mx-3 white--text" icon>
        <mip-v-icon size="24px">fab fa-instagram</mip-v-icon>
      </mip-v-btn>
    </div>

    <div class="v-card__actions grey darken-3 justify-center">
      &#xA9;2018 &#x2014; <strong>Vuetify</strong>
    </div>
  </mip-v-card>
</mip-v-footer>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>