<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-btn-case-7.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "loading": false
    }
  </script>
</mip-data>
<div class="flex">
  <mip-v-btn m-bind:loading="loading" m-bind:disabled="loading" color="secondary" on="click:MIP.setData({ loading: true })">
    Accept Terms
  </mip-v-btn>
  <mip-v-btn m-bind:loading="loading" m-bind:disabled="loading" color="blue-grey" class="white--text" on="click:MIP.setData({ loading: true })">
    Upload
    <mip-v-icon right dark>cloud_upload</mip-v-icon>
  </mip-v-btn>
  <mip-v-btn m-bind:loading="loading" m-bind:disabled="loading" color="success" on="click:MIP.setData({ loading: true })">
    Custom Loader
    <span slot="loader">Loading...</span>
  </mip-v-btn>
</div>
<mip-script>
  MIP.watch('loading', (val) => {
    if (val) {
      setTimeout(() => MIP.setData({ loading: false }), 2000)
    }
  })
</mip-script>
<script src="https://c.mipcdn.com/static/v2/mip-script/mip-script.js"></script>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>