<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-date-picker-case-2.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "date": null,
      "menu": false,
      "dialog": false
    }
  </script>
</mip-data>
<div class="layout row wrap">
  <div class="flex xs12 sm6 md4">
    <mip-v-menu
      id="menu"
      m-bind:value.sync="menu"
      m-bind:return-value.sync="date"
      close-on-content-click="false"
      nudge-right="40"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      min-width="290"
    >
        <mip-v-text-field
          slot="activator"
          m-bind:value.sync="date"
          label="Picker in menu"
          prepend-icon="event"
          readonly
        ></mip-v-text-field>
        <mip-v-date-picker
          m-bind:value.sync="date"
          no-title
          scrollable
        >
          <mip-v-space></mip-v-space>
          <mip-v-btn
            flat
            color="primary"
            on="click:MIP.setData({ menu: false })"
          >
            Cancel
          </mip-v-btn>
          <mip-v-btn
            flat
            color="primary"
            on="click:menu.save"
          >
            OK
          </mip-v-btn>
        </mip-v-date-picker>
      </mip-v-menu>
  </div>
  <div class="flex xs12 sm6 md4">
    <mip-v-dialog
      id="dialog"
      m-bind:value.sync="dialog"
      m-bind:return-value.sync="date"
      persistent
      lazy
      full-width
      width="290"
    >
      <mip-v-text-field
        slot="activator"
        m-bind:value.sync="date"
        label="Picker in dialog"
        prepend-icon="event"
        readonly
      ></mip-v-text-field>
      <mip-v-date-picker
        m-bind:value.sync="date"
        scrollable
      >
        <mip-v-spacer></mip-v-spacer>
        <mip-v-btn
          flat
          color="primary"
          on="click:MIP.setData({ dialog: false })"
        >
          Cancel
        </mip-v-btn>
        <mip-v-btn
          flat
          color="primary"
          on="click:dialog.save"
        >
          OK
        </mip-v-btn>
      </mip-v-date-picker>
    </mip-v-dialog>
  </div>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
