<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-card-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <div class="layout">
  <div class="flex xs12 sm6 offset-sm3">
    <mip-v-card>
      <mip-v-card-media
        class="white--text"
        height="200px"
        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
      >
        <div class="container fill-height fluid">
          <div class="layout fill-height">
            <div class="flex xs12 align-end flexbox">
              <span class="headline">Top 10 Australian beaches</span>
            </div>
          </div>
        </div>
      </mip-v-card-media>
      <mip-v-card-title>
        <div>
          <span class="grey--text">Number 10</span><br>
          <span>Whitehaven Beach</span><br>
          <span>Whitsunday Island, Whitsunday Islands</span>
        </div>
      </mip-v-card-title>
      <mip-v-card-actions>
        <mip-v-btn
          flat
          color="orange"
        >Share</mip-v-btn>
        <mip-v-btn
          flat
          color="orange"
        >Explore</mip-v-btn>
      </mip-v-card-actions>
    </mip-v-card>
  </div>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
