<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-menu-case-3.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <div class="layout row">
  <div class="flex xs12 sm6 offset-sm3">
    <mip-v-card height="200px">
      <mip-v-card-title class="blue white--text">
        <span class="headline">Menu</span>

        <mip-v-spacer></mip-v-spacer>

        <mip-v-menu bottom left>
          <mip-v-btn slot="activator" dark icon>
            <mip-v-icon>more_vert</mip-v-icon>
          </mip-v-btn>

          <mip-v-list>
            <mip-v-list-tile href="#" ripple>
              <mip-v-list-tile-title>Menu1</mip-v-list-tile-title>
            </mip-v-list-tile>
            <mip-v-list-tile href="#" ripple>
              <mip-v-list-tile-title>Menu2</mip-v-list-tile-title>
            </mip-v-list-tile>
            <mip-v-list-tile href="#" ripple>
              <mip-v-list-tile-title>Menu3</mip-v-list-tile-title>
            </mip-v-list-tile>
          </mip-v-list>
        </mip-v-menu>
      </mip-v-card-title>

      <mip-v-card-text>Lorem Ipsum</mip-v-card-text>
    </mip-v-card>
  </div>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
