<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/ui/components/mip-v-dialog-case-3.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
            <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          
</head>
<body>
  
  <mip-data>
  <script type="application/json">
    {
      "dialog": false
    }
  </script>
</mip-data>
<div class="layout row justify-center">
  <mip-v-dialog m-bind:value.sync="dialog" persistent max-width="500px">
    <mip-v-btn slot="activator" color="primary" dark>Open Dialog</mip-v-btn>
    <mip-v-card>
      <mip-v-card-title>
        <span class="headline">User Profile</span>
      </mip-v-card-title>
      <mip-v-card-text>
        <div class="container grid-list-md">
          <div class="layout wrap">
            <div class="flex xs12 sm6 md4">
              <mip-v-text-field label="Legal first name" required></mip-v-text-field>
            </div>
            <div class="flex xs12 sm6 md4">
              <mip-v-text-field label="Legal middle name" hint="example of helper text only on focus"></mip-v-text-field>
            </div>
            <div class="flex xs12 sm6 md4">
              <mip-v-text-field label="Legal last name" hint="example of persistent helper text" persistent-hint required></mip-v-text-field>
            </div>
            <div class="flex xs12">
              <mip-v-text-field label="Email" required></mip-v-text-field>
            </div>
            <div class="flex xs12">
              <mip-v-text-field label="Password" type="password" required></mip-v-text-field>
            </div>
            <div class="flex xs12 sm6">
              <mip-v-select label="Age" required>
                <script type="application/json">
                  {
                    "items": ["0-17", "18-29", "30-54", "54+"]
                  }
                </script>
              </mip-v-select>
            </div>
            <div class="flex xs12 sm6">
              <mip-v-autocomplete label="Interests" multiple chips>
                <script type="application/json">
                  {
                    "items": ["Skiing", "Ice hockey", "Soccer", "Basketball", "Hockey", "Reading", "Writing", "Coding", "Basejump"]
                  }
                </script>
              </mip-v-autocomplete>
            </div>
          </div>
        </div>
        <small>*indicates required field</small>
      </mip-v-card-text>
      <mip-v-card-actions>
        <mip-v-spacer></mip-v-spacer>
        <mip-v-btn color="blue darken-1" flat on="tap:MIP.setData({ dialog: false })">Close</mip-v-btn>
        <mip-v-btn color="blue darken-1" flat on="tap:MIP.setData({ dialog: false })">Save</mip-v-btn>
      </mip-v-card-actions>
    </mip-v-card>
  </mip-v-dialog>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/vuetify.min.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
