
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/ui/mip-v-card-case-1.html">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  
                  <mip-v-card>
  <mip-v-card-media
    class="white--text"
    height="200px"
    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
  >
    <mip-v-container fill-height fluid>
      <mip-v-layout fill-height>
        <mip-v-flex xs12 align-end flexbox>
          <span class="headline">Top 10 Australian beaches</span>
        </mip-v-flex>
      </mip-v-layout>
    </mip-v-container>
  </mip-v-card-media>
  <mip-v-card-title>
    <div>
      <span class="grey--text">Number 10</span><br>
      <span>Whitehaven Beach</span><br>
      <span>Whitsunday Island, Whitsunday Islands</span>
    </div>
  </mip-v-card-title>
  <mip-v-card-actions>
    <mip-v-btn flat color="orange">Share</mip-v-btn>
    <mip-v-btn flat color="orange">Explore</mip-v-btn>
  </mip-v-card-actions>
</mip-v-card>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="http://localhost:8848/vuetify.min.js"></script>
                </body>
              