<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/presentation/mip-toggle-case-3.html">
  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
  
</head>
<body>
  
  <button on="tap:my-mip-toggle-4.show(500)">显示500ms</button>
<button on="tap:my-mip-toggle-4.show(1000)">显示1s</button>
<button on="tap:my-mip-toggle-4.show(3000)">显示3s</button>
<button on="tap:my-mip-toggle-4.show(Infinity)">不自动隐藏（覆盖默认值）</button>
<mip-toggle id="my-mip-toggle-4" layout="nodisplay" hidetimeout="2000">
    <p>lorem ipsum</p>
</mip-toggle>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-toggle/mip-toggle.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
