
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  <mip-video controls loop muted
  layout="responsive" width="640" height="360"
  src="https://mip-doc.bj.bcebos.com/sample_video.mp4">
</mip-video>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  
                </body>
              