<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/social/mip-share-case-2.html">
  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
  
</head>
<body>
  
  <div class="mip-share-container">
  <mip-share
    title="分享标题"
    content="分享内容"
    icon="https://m.baidu.com/se/static/pmd/pmd/share/images/bdu.jpg"
    wechatAPI="//xx.yy.com/getToken"
    layout="responsive"
    width="414"
    height="158">
  </mip-share>
</div>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-share/mip-share.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
