
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-history-case-0.html">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  
                  <mip-history history="go, -1" class="mip-history-default">
	go, -1
</mip-history>
<mip-history history="go, -2" class="mip-history-default">
	go, -2
</mip-history>
<mip-history history="go, 1" class="mip-history-default">
	go, 1
</mip-history>
<mip-history history="go" class="mip-history-default">
	go
</mip-history>
<mip-history history="back" class="mip-history-default">
	back
</mip-history>
<mip-history history="forward" class="mip-history-default">
	forward
</mip-history>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-history/mip-history.js"></script>
                </body>
              