
            <!DOCTYPE html>
            <html mip>
            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
              <title>测试</title>
              <meta name="description" content="">
              <link rel="canonical" href="">
              <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
            </head>
            <body>
              <!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v1/mip.css">
    <link rel="canonical" href="对应的 h5 页面 url">
    <style mip-custom>
    </style>
</head>
<body>
    <h2>定制化MIP示例页面</h2>
    <!-- 顶部定制化内容区域，可自由放置 -->
    <mip-custom position="top" source-type="med_tag">
       <script type="application/json">
            {
                "accid": "e2217bab684fbb898dccf04b",
                "title": "%E8%BF%99%E9%87%8C%E6%98%AF%E6%A0%87%E9%A2%98"
            }
        </script>
    </mip-custom>
    <p>正文</p>
     <!-- 底部定制化内容区域，必须放在内容的下方、`script`标签的上方 -->
    <mip-custom>
       <script type="application/json">
            {
                "accid": "e2217bab684fbb898dccf04b",
                "title": "%E8%BF%99%E9%87%8C%E6%98%AF%E6%A0%87%E9%A2%98"
            }
        </script>
    </mip-custom>
    <script src="https://c.mipcdn.com/static/v1/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-custom/mip-custom.js"></script>
</body>
</html>


              <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
              
            </body>
          