
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-map-case-0.html">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  
                  <mip-map height="400">
  <script type="application/json">
    {
      "ak": "hKhuzfFBrcL6zGm4s6b371NDxaUrhFPl",
      "hide-map": false,
      "get-position": true,
      "location": {
        "province": "北京",
        "city": "北京市",
        "district": "东城区",
        "street": "故宫博物馆"
      },
      "controls": {
        "NavigationControl": {},
        "MapTypeControl": {}
      },
      "info": {
        "width": 250,
        "height": 100,
        "content": "<h4>故宫博物馆</h4><p>地址：北京市东城区景山前街4号<br/>电话：(010)65131892</p></div>"
      }
    }
  </script>
</mip-map>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v2/mip-map/mip-map.js"></script>
                </body>
              