
            <!DOCTYPE html>
            <html mip>
            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
              <title>测试</title>
              <meta name="description" content="">
              <link rel="canonical" href="">
              <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
            </head>
            <body>
              <header>
    <div id="logo" on="tap:sidebar.open">Open mip-sidebar</div>
</header>
<mip-sidebar 
    id="sidebar"
    layout="nodisplay"
    class="mip-hidden">
    <ul>
        <li>
            <a href="https://www.mipengine.org/">MIP官网</a>
            <button on="tap:sidebar.close"> X </button>
        </li>
        <li>Nav item 1</li>
        <li>Nav item 2</li>
        <li>Nav item 3</li>
        <li>
            Nav item 4 - Image
            <mip-img
                src="https://www.mipengine.org/favicon.ico"
                width="32"
                height="32"
                alt="mipengine ico"></mip-img>
        </li>
        <li>Nav item 5</li>
        <li>Nav item 6</li>
    </ul>
</mip-sidebar>

              <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
              <script src="https://c.mipcdn.com/static/v1/mip-sidebar/mip-sidebar.js"></script>
            </body>
          