
            <!DOCTYPE html>
            <html mip>
            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
              <title>测试</title>
              <meta name="description" content="">
              <link rel="canonical" href="">
              <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
            </head>
            <body>
              <mip-html-os os="android" class="mip-html-os"><p>This Is Android</p></mip-html-os>
<mip-html-os os="ios" class="mip-html-os"><p>This Is Ios</p></mip-html-os>

              <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
              <script src="https://c.mipcdn.com/static/v1/mip-html-os/mip-html-os.js"></script>
            </body>
          