
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-group-selection-case-1.html">
                  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
                  
                </head>
                <body>
                  
                  <mip-group-selection class="mip-hidden" data-src="https://xxx/cities.json">
    <!--存在 data-src 时，本地数据配置不生效-->
    <!-- 城市选择组件依赖的 DOM 结构，不建议自行删除结构 -->
    <div class="mip-group-selection-wrapper">
        <template type="mip-mustache">
            <div class="mip-group-selection-content">
                {{#list}}
                <div class="mip-group-selection-group mip-group-selection-part-letter">
                    <div class="mip-group-selection-title" data-anchor="{{key}}">{{key}}</div>
                    {{#cities}}
                    <div class="mip-group-selection-item" data-code="{{code}}" data-pinyin="{{pinyin}}">{{city}}</div>
                    {{/cities}}
                </div>
               {{/list}}
            </div>
            <mip-fixed class="mip-group-selection-sidebar-wrapper">
                <div class="mip-group-selection-sidebar">
                    {{#list}}
                    <a class="mip-group-selection-link" data-target-anchor="{{key}}">{{key}}</a>
                    {{/list}}
                </div>
            </mip-fixed>
        </template>
    </div>
</mip-group-selection>
<script src="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js"></script>
<!--侧边栏布局依赖mip-fixed组件提供样式-->
<script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js"></script>

                  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-group-selection/mip-group-selection.js"></script>
                </body>
              