
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-fastclick-case-0.html">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  
                  <mip-fastclick>
  <mip-example></mip-example>
</mip-fastclick>

<mip-fastclick target="example"></mip-fastclick>
<mip-example id="example"></mip-example>

<!-- 无 fastclick 效果 -->
<mip-example></mip-example>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v2/mip-fastclick/mip-fastclick.js"></script>
                </body>
              