<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-story-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  
</head>
<body>
  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-story/mip-story.js"></script><script src="https://c.mipcdn.com/static/v1/mip-share/mip-share.js"></script><script src="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script><script src="https://c.mipcdn.com/static/v1/mip-scrollbox/mip-scrollbox.js"></script><script src="https://c.mipcdn.com/static/v1/mip-scrollbox/mip-scrollbox.js"></script>
  
  <style mip-custom>
    mip-story-view {
        color: #fff;
    }
    h1 {
        text-align: center;
    }
    .box {
        width: 100px;
        height: 100px;
        background-color: #09f;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
<mip-story>
    <mip-story-view>
        <mip-story-layer template="vertical">
              <h1>fly-in-top</h1>
              <div animate-in="fly-in-top" class="box"></div>
        </mip-story-layer>
    </mip-story-view>
</mip-story>

  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>