<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-fixed-case-5.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
</head>
<body>
  <style mip-custom>
   .placeholder{
      width:100%;
      height:300px;
      border-bottom: 1px solid #aaa;
   }
   mip-fixed{
      background-color: lightpink;
   }
   mip-fixed .btn_style{
      width: 30%; 
      height:40px;
      line-height:40px;
       border: 1px solid black;
       text-align: center;
       background-color: bisque;
       box-shadow: 6px 2px 2px #888888;
   }
 </style>

 
 
 <div class="placeholder">我走过山时，山不说话，</div>
 <div class="placeholder">我路过海时，海不说话，</div>
 <div class="placeholder">小毛驴滴滴答答，</div>
 <div class="placeholder">倚天剑伴我走天涯。 </div>
 <div class="placeholder">大家都说我因为爱着杨过大侠，</div>
 <div class="placeholder">才在峨眉山上出了家， </div>
 <div class="placeholder">其实我只是爱上了峨眉山上的云和霞，</div>
 <div class="placeholder">像极了十六岁那年的烟花。</div>
 


  <mip-fixed type="right" top="50px">
    自定义内容，可以嵌套其他组件
</mip-fixed>

  <script type="data-x-preset" id="preset">
  ___arrow_left___style mip-custom___arrow_right___
   .placeholder{
      width:100%;
      height:300px;
      border-bottom: 1px solid #aaa;
   }
   mip-fixed{
      background-color: lightpink;
   }
   mip-fixed .btn_style{
      width: 30%; 
      height:40px;
      line-height:40px;
       border: 1px solid black;
       text-align: center;
       background-color: bisque;
       box-shadow: 6px 2px 2px #888888;
   }
 ___arrow_left___/style___arrow_right___

 
 
 ___arrow_left___div class="placeholder"___arrow_right___我走过山时，山不说话，___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___我路过海时，海不说话，___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___小毛驴滴滴答答，___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___倚天剑伴我走天涯。 ___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___大家都说我因为爱着杨过大侠，___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___才在峨眉山上出了家， ___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___其实我只是爱上了峨眉山上的云和霞，___arrow_left___/div___arrow_right___
 ___arrow_left___div class="placeholder"___arrow_right___像极了十六岁那年的烟花。___arrow_left___/div___arrow_right___
 


  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>