
              <!DOCTYPE html>
              <html mip>
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                <title>测试</title>
                <meta name="description" content="">
                <link rel="canonical" href="">
                <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
              </head>
              <body>
                <mip-custom>
    <script type="application/json">
        {
            "accid": "e2217bab684fbb898dccf04b",
            "title": "%E8%BF%99%E9%87%8C%E6%98%AF%E6%A0%87%E9%A2%98"
        }
    </script>
</mip-custom>

                <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                <script src="https://c.mipcdn.com/static/v1/mip-custom/mip-custom.js"></script><script src="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js"></script><script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js"></script>
              </body>
            