<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-accordion-case-2.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  
</head>
<body>
  <style mip-custom>
   h2{
        background-color: lightpink;
        margin:10px;
    }
    h3{
        background-color: lightskyblue;
        margin:10px;
    }
    h4{
         background-color: lightgreen;
        margin:10px;
    }
 </style>
  <mip-accordion sessions-key="mip_3" animatetime='0.24'>
  <section>
    <h4>
      <span class="show-more">显示更多</span>
      <span class="show-less">收起</span>
    </h4>
    <p class="mip-accordion-content">显示显示收起收起显示显示收起收起显示显示收起收起显示显示收起收起</p>
  </section>
</mip-accordion>

  <script type="data-x-preset" id="preset">
  ___arrow_left___style mip-custom___arrow_right___
   h2{
        background-color: lightpink;
        margin:10px;
    }
    h3{
        background-color: lightskyblue;
        margin:10px;
    }
    h4{
         background-color: lightgreen;
        margin:10px;
    }
 ___arrow_left___/style___arrow_right___
  </script>
  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-accordion/mip-accordion.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>