
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-semi-fixed-case-0.html">
                  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
                </head>
                <body>
                  
                  <mip-semi-fixed id="semi-fixed" fixedClassNames="fixedStyle">
    <div mip-semi-fixed-container class="absoluteStyle">
        距离顶部0px时自动贴顶 magic
    </div>
</mip-semi-fixed>
<!--以下为占位符，仅用于查看组件效果-->
<div class="placeholder">小毛驴滴滴答答，</div>
<div class="placeholder">倚天剑伴我走天涯。 </div>
<div class="placeholder">大家都说我因为爱着杨过大侠，</div>
<div class="placeholder">才在峨眉山上出了家， </div>
<div class="placeholder">其实我只是爱上了峨眉山上的云和霞，</div>
<div class="placeholder">像极了十六岁那年的烟花。</div>

                  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-semi-fixed/mip-semi-fixed.js"></script>
                </body>
              