
              <!DOCTYPE html>
              <html mip>
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                <title>测试</title>
                <meta name="description" content="">
                <link rel="canonical" href="">
                <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
              </head>
              <body>
                <mip-anim layout="fixed" width=210 height=210 src="https://www.mipengine.org/static/img/sample_gif.gif" alt="an animation"></mip-anim>

                <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                <script src="https://c.mipcdn.com/static/v1/mip-anim/mip-anim.js"></script>
              </body>
            