
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-scrollbox-case-3.html">
                  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
                  
                </head>
                <body>
                  
                  <style>
    .demo4 [data-item] {
        height: 100px;
    }
    .demo4 [data-item] a {
        display: block;
        height: 100px;
        padding: 0 3px;
        color: #555;
        border: 1px solid #ccc;
                box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
</style>
<mip-scrollbox data-type="row" class="demo4">
    <div data-wrapper>
        <div data-inner>
            <div data-scroller>
                <div data-item data-col="6">
                    <a href="https://www.mipengine.org">使用 MIP 无需等待加载，页面内容将以更友好的方式瞬时到达用户。</a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org">MIP 提供实用、强大的基础组件，开发者可根据需求任意选择。</a>
                </div>
                <div data-item data-col="6">
                    <a href="https://www.mipengine.org">MIP 是一项永久的开源计划，提供持续优化的解决方案。</a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org">MIP 语法基于 HTML 并提供详细的示例，开发者仅需做简单开发。</a>
                </div>
                <div data-item data-col="6">
                    <a href="https://www.mipengine.org">MIP（Mobile Instant Pages - 移动网页加速器），是一套应用于移动网页的开放性技术标准。通过提供 MIP HTML 规范、MIP-JS 运行环境以及 MIP-Cache 页面缓存系统，实现移动网页加速。</a>
                </div>
            </div>
        </div>
    </div>
</mip-scrollbox>

                  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v1/mip-scrollbox/mip-scrollbox.js"></script>
                </body>
              