
                <!DOCTYPE html>
                <html mip>
                <head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                  <title>测试</title>
                  <meta name="description" content="">
                  <link rel="canonical" href="v2/components/extensions/mip-appdl-case-1.html">
                  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
                  
                </head>
                <body>
                  
                  <mip-fixed type="bottom">
  <mip-appdl
    tpl="imageText"
    src="http://ms0.meituan.net/touch/css/i/logo.png"
    texttip= "['积分能当钱花了','下载百度浏览器','下载百度浏览器']"
    downbtntext="立即使用"
    other-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
    android-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
    ios-downsrc="itms-apps://itunes.apple.com/app/id452186370" postiontye="fixed"
  ></mip-appdl>
</mip-fixed>

                  <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
                  <script src="https://c.mipcdn.com/static/v2/mip-appdl/mip-appdl.js"></script>
                </body>
              