
              <!DOCTYPE html>
              <html mip>
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                <title>测试</title>
                <meta name="description" content="">
                <link rel="canonical" href="">
                <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
              </head>
              <body>
                <mip-img width="350" height="263"
    class="mip-img" 
    popup 
    alt="baidu mip img" 
    src="http://ztd00.photos.bdimg.com/ztd/w%3D350%3Bq%3D70/sign=e3bb1c4b97ef76c6d0d2fd2ead2d8cc7/f703738da9773912b57d4b0bff198618367ae205.jpg">
</mip-img>
<p class="mip-img-subtitle">带图片标题的类型</p>
<mip-img  layout="responsive" width="350" height="263"
    class="mip-img" 
    popup 
    alt="baidu mip img" 
    src="http://ztd00.photos.bdimg.com/ztd/w%3D350%3Bq%3D70/sign=e3bb1c4b97ef76c6d0d2fd2ead2d8cc7/f703738da9773912b57d4b0bff198618367ae205.jpg">
</mip-img>
<p class="mip-img-subtitle">带图片标题的类型</p>
<mip-img layout="responsive" width="350" height="263"
    class="mip-img" 
    popup 
    alt="baidu mip img" 
    src="http://ztd00.photos.bdimg.com/ztd/w%3D350%3Bq%3D70/sign=e3bb1c4b97ef76c6d0d2fd2ead2d8cc7/f703738da9773912b57d4b0bff198618367ae205.jpg">
</mip-img>

                <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                <script src="https://c.mipcdn.com/static/v1/mip-sample/mip-sample.js"></script>
              </body>
            