
              <!DOCTYPE html>
              <html mip>
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                <title>测试</title>
                <meta name="description" content="">
                <link rel="canonical" href="">
                <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
              </head>
              <body>
                <!-- 以下代码只是示例 -->
<style>
    /*元素顶部距离*/
    .mip-fixed-top {
        top: 300px !important;
    }
    /*自定义元素隐藏时动画*/
    .mip-fixed-test-top {
        -webkit-transform: translate3d(0, -400px, 0);
                transform: translate3d(0, -400px, 0);
    }
</style>

<mip-fixed type="top" data-slide="mip-fixed-test-top" class="mip-fixed-top">
    顶部悬浮 - 自动隐藏距离
</mip-fixed>

                <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                <script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js"></script>
              </body>
            