<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/extensions/mip-range-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.css">
  
</head>
<body>
  
  <!-- 范围值、横向、下方显示、范围0-100、步长5、预设20-60-->

<mip-range class="her" id="slider2">
  <script type="application/json">
    {
      range: [20, 60],
      height: 6,
      dotSize: 16,
      min: 0,
      max: 100,
      step: 5,
      tipDir: "bottom"
    }
  </script>
</mip-range>
<button on="click:slider2.setVal([10,80])">设置值为10-80</button>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/vuetify/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-range/mip-range.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>