
              <!DOCTYPE html>
              <html mip>
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
                <title>测试</title>
                <meta name="description" content="">
                <link rel="canonical" href="">
                <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
              </head>
              <body>
                <button on="tap:my-mip-toggle-3.toggle">显示/隐藏</button>
<p>
    <mip-toggle id="my-mip-toggle-3" display="inline">lorem ipsum</mip-toggle> dolor sit amet
</p>

                <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
                <script src="https://c.mipcdn.com/static/v1/mip-toggle/mip-toggle.js"></script>
              </body>
            