<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/layout/mip-iframe-case-2.html">
  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
  
</head>
<body>
  
  <mip-iframe
    allowfullscreen
    srcdoc="
        <div>You say that you love rain,</div>
        <div>but you open your umbrella when it rains.</div>
        <div>You say that you love the sun,</div>
        <div>but you find a shadow spot when the sun shines.</div>
        <div>You say that you love the wind,</div>
        <div>but you close your windows when wind blows.</div>
        <div>This is why I am afraid,</div>
        <div>because you say that you love me too.</div>
        "
    width="400"
    height="300"
    sandbox=""
    allowtransparency="true">
</mip-iframe>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
