<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>测试</title>
  <meta name="description" content="">
  <link rel="canonical" href="/v2/components/layout/mip-appdl-case-1.html">
  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
  
</head>
<body>
  
  <mip-fixed type="bottom">
  <mip-appdl
    src="http://boscdn.baidu.com/v1/assets/mipengine/app_logo.png"
    texttip= "['搜索+资讯（有图版）','下载百度App','下载百度App']"
    downbtntext="立即使用"
    other-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
    android-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
    ios-downsrc="itms-apps://itunes.apple.com/app/id382201985">
  </mip-appdl>
</mip-fixed>

  <script type="data-x-preset" id="preset">
  
  </script>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-appdl/mip-appdl.js"></script>
  <script>
  var preset;
  window.addEventListener('message', function (e) {
    if (!e.data || e.data.type !== 'demo-edit') {
      return;
    }

    if (!preset) {
      preset = document.getElementById('preset').innerHTML
        .replace(/___arrow_left___/g, '<')
        .replace(/___arrow_right___/g, '>');
    }
    document.body.innerHTML = preset + e.data.html;
  })
  </script>
</body>
</html>
