.markdown-toolbar
  padding 48px 0
  border-bottom 1px solid #eee
  span
    display inline-block
    height 32px
    padding 0 32px
    border-radius 16px
    font-size 14px
    border 1px solid #eee
    margin 0 10px
    line-height 32px
    &:first-child
      margin-left 0
    &:hover,&:active
      background #f4f4f4



